/* The form area */
.container {
    display: grid;
    text-align: center;
    background: rgba(244, 227, 207, 1);
    margin-top: 30px;
    margin-bottom: 40px;
    border: 4px solid rgba(244, 227, 207, 1);
    border-radius: 1rem;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The area for filling in characters */
.item {
    padding: 10px;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

/* Error message displayed when criteria is not met */
.error-input {
    display: none;
    color: red;
    font-size: 1rem;
}

/* Message confirming the form is subbmitted */
.success {
    display: none;
    color: #489441;
    font-size: 2rem;
    padding: 6px;
    border-radius: 1rem;
}

/* Spacing between bottom of form and top of footer */
.container {
    margin-bottom: 40px;
}