/*Files for media queries*/


@media (max-width: 600px) {
    img {
        float: center;
        max-height: 200px;
        object-fit: cover;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        right: 0;
        background-color: rgba(244, 227, 207, 1);
        z-index: 1;
    }
    .nav-list.show {
        display: flex;
    }
    .hamburger-menu {
        display: block;
    }
    header li {
        padding: 10px;
        text-align: center;
        width: 100%;
  }
    .mySlides {  /* CAROUSEL MOBILE FRIENDLY */
        max-width: 100%; 
    }
    .blogImage {
        width: 100%; 
    }
    .prev, .next {
        font-size: 12px; 
    }
    .blogPost {
        flex-direction: column;
    }
    .blogImage {
        max-width: 330px;
    }
    .footer_area {
        flex-direction: column;
        grid-template-columns: 1fr;
      } 
    .footer_element {
        flex-direction: column;
        grid-template-columns: 1fr;
      }
    .containerWelcome  {
      flex-direction: column;
      grid-template-columns: 1fr;
    } 
    .modal-content {
      width: 100%;
    }
} 
  
