/*Files for media queries*/

@media  (max-width: 600px) {
    img {
        float: center;
        max-height: 200px;
        object-fit: cover;
    }
    .blogPost {
        flex-direction: column;
    }
    .blogImage {
        max-width: 330px;
    }
    .footer_area {
        flex-direction: column;
        grid-template-columns: 1fr;
      } 
    .footer_element {
        flex-direction: column;
        grid-template-columns: 1fr;
      }
    .expos{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
    
}  



