/* Flex, grid, margins, padding */

/* TODO - what are .expo and .expos for?*/
.expos {
    text-align: left;
    display: flex; 
    padding: 10px;
    max-width: 800px;
    background: #F4E3CF;
}

.expo {
    text-align: left;
    flex: 1px;
    background-color: #ffffff;
}

.logo {
    max-width: 285px;
    max-height: 50px;
    margin-left: 10px; 
}

.dark_text {
    margin-top: 100px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-width: 840px;
  }

.containerIndex {
    max-width: 930px;
}  

.containerItem {
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px;
    background-color: #F4E3CF;
    border-radius: 20px;
    max-width: 410px;
}

/*TEXT DISPLAYED OVER IMAGE*/
.centeredText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 700px;
}

.button {
    float: right;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

main {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.categoryImage {
    max-width: 400px;
    max-height: 500px;
    border-radius: 20px;
}